
	<div class="container-fluid">
			<form class="form-horizontal" method="post" enctype="multipart/form-data" action="/file-upload">
					<fieldset>
							<legend>File Upload</legend>
						<!--	<div class="control-group">
									<label class="control-label" for="username">User Name:</label>
									<div class="controls">
											<input type="text" class="input-xlarge" id="username" name="username">					
									</div>
							</div>
						-->
							<div class="control-group">
									<label class="control-label" for="username">Select File: </label>
									<div class="controls">
											<input type="file" class="input-xlarge" id="thumbnail" name="thumbnail">
											<input type="submit" class="btn btn-primary" id="upload" name="upload" value="Upload">
									</div>
							</div>
						<!--	<div class="control-group">
									<div class="controls">
										<input type="submit" class="btn btn-primary" id="upload" name="upload" value="Upload">					
									</div>
							</div>
						-->
							<br><br>
							<div>
									<a class="btn btn-primary" href="/" id="home" > Back Home </a>	
							</div>
					</fieldset>
			</form>
	</div>


<link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="/stylesheets/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
<script src="/javascripts/bootstrap.min.js"></script>


